{% extends 'base.html.twig' %}

{% block title %}Recherche Avancée{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('advanced') }}
{% endblock %}

{% block body %}
  <div class="searching-container">
    <div class="input-group mb-3">
      <select id="speaker-select" class="form-control">

      </select>
      <input id="search-input" type="text" class="form-control" placeholder="Recherche avancée" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <select id="all-any-select" class="form-control">
          <option value="all">all</option>
          <option value="any">any</option>
        </select>
        <select id="mode-select" class="custom-select">
          <option selected>Rechercher par...</option>
          <option value="term" selected>Termes</option>
          <option value="speaker">Speaker</option>
        </select>
        <button id="search-btn" class="btn btn-outline-secondary" type="button">Rechercher</button>
      </div>
    </div>
    <h4 class="result-number-container"></h4>
  </div>
  <div id="results-container"></div>
  <div id="loader" class="text-center">
    <div class="spinner-border" style="width: 7rem; height: 7rem; border: 0.6em solid #0069d9; border-right-color: transparent;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('advanced') }}
  {% endblock %}
{% endblock %}
