{% extends 'base.html.twig' %}

{% block title %}Recherche Avancée{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('detail') }}
{% endblock %}

{% block body %}
  <div class="title-container">
    <h3>{{day}}</h3>
    <p>Le terme recherché est <b>"{{ term }}"</b></p>
  </div>

  <div class="text-container">
    {% for item in results %}
      <h5>{{ item.sp }}</h5>
      <p>{{item.text}}<p>
    {% endfor %}
  </div>

  {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('detail') }}
  {% endblock %}
{% endblock %}
