{% extends 'base.html.twig' %}

{% block title %}Nuremberg{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
  <div class="home-content">
    <div class="selection-filters">
      <div class="d-flex justify-content-center">
        <select class="form-select" id="day-select">
          <option value="" disabled selected>Choisissez une journée</option>
        </select>
        <select class="form-select" id="speaker-select">
          <option value="all">Tous les speakers</option>
        </select>
        <label id="search-label" for="word-search">Rechercher : </label>
        <input name="word-search" id="word-search"/>
        <span id="result-number"></span>
      </div>
      <div class="d-flex justify-content-between">
        <button id="previous-button" disabled class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Jour Précédent</button>
        <button id="next-button" disabled class="btn btn-primary">Jour Suivant <i class="fas fa-arrow-circle-right"></i></button>
      </div>
    </div>
    <div class="title-div">
      <h2 id="day-title"></h2>
    </div>
    <div id="text-content">

    </div>
    <div id="loader" class="text-center">
      <div class="spinner-border" style="width: 7rem; height: 7rem; border: 0.6em solid #0069d9; border-right-color: transparent;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
  {% endblock %}
{% endblock %}
