.searching-container {
  margin: 2em 2em 2em 2em;
  text-align: center;
}

#results-container {
  margin: 2em 2em 2em 2em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  display: grid;
}

#speaker-select {
    display: none;
}

#loader {
  margin-top: 6em;
  display: none;
}
