.title-container {
  margin-top: 2em;
  text-align: center;
}

.text-container {
  margin: 2em 2em 2em 2em;
  max-height: 70vh;
  overflow-y: scroll;
}

.search-item {
  background-color: tomato;
  color: white;
}
