.home-content #text-content {
  margin: 2em 2em 2em 2em;
  max-height: 70vh;
  overflow-y: scroll;
}

.home-content .selection-filters {
  border: solid black 1px;
  padding: 1em 2em 1em 2em;
}

#day-select, #speaker-select, #word-search, #search-label {
    margin-right: 1em;
}

#loader {
  margin-top: 6em;
  display: none;
}

.home-content #text-content .search-item {
  background-color: lightblue;
}

.home-content .title-div {
  margin: 2em 2em 0 2em;
  text-decoration: underline;
  text-align: center;
}

#previous-button, #next-button {
  margin-top: 1em;
}
